/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #2b2a29;
    background-image: url('pattern_background.webp');
    background-repeat: repeat;
    background-size: auto;
    line-height: 1.6;
    color: #fff;
    font-size: 0.51rem;
}
 /* General Styles */
.container {
    margin: 0;
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido */
    justify-content: flex-start;
    width: 98%;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

/* ADS Section */
.ads-section {
    display: flex;
    font-size: 1rem;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #ffffff, #526F9B); /* Gradiente de blanco a #526F9B */
    color: #fff;
    padding: 0;
    width: 100%;
    height: 88px; /* Ajusta esta altura según lo necesario */
}
.ad-img {
    max-height: 88px; /* La imagen ocupará toda la altura disponible */
    max-width: 100%; /* La imagen ocupará el 100% del contenedor en anchura */
    width: auto; /* Mantiene la proporción de la imagen */
    height: auto; /* Mantiene la proporción al ajustar la altura */
    object-fit: contain; /* Asegura que la imagen se mantenga dentro del contenedor */
}
.ad-text {
    width: 100%; /* O un valor específico de ancho si prefieres */
    max-width: 600px; /* Ancho máximo, ajustable según sea necesario */
    margin: 0 auto; /* Esto centra el div horizontalmente */
    text-align: center;
    font-size: 1rem;
  margin: 0;
    display: flex ;
    flex-direction: column;
    align-items: center;
}
.ad-text p {
    font-weight: lighter; /* Asegura que todo el texto tenga peso normal */
    color: black; /* Establece el color del texto a negro */
    font-size: 1rem;
    margin: 0;
}
.ad-text p span {
    color: #00bcd4;
    font-size: 1rem;
    margin: 0;
    /* Azul celeste para el número 3 */
}
.ad-text p:last-child {
    color: white; /* Establece el color blanco para "JOIN THE REVOLUTION." */
    font-style: italic; /* Aplica la cursiva a "JOIN THE REVOLUTION." */
    font-size: 1rem;
    margin: 0;
}

/* Header Section */
.header-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(to top, #EEE62C, #ffffff 120%); /* Gradiente de blanco a #526F9B */
    padding: 10px;
    font-size: 0.6rem;
    margin: 0;
}
.logo h1 {
    font-size: 4rem;
    color: #000;
}
.logo p {
    font-style: italic;
    color: #000;
    font-size: 0.6rem;
    margin: 0;
}
.nav {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: 0;
    color: #000;
    margin: 0 10px;
    text-decoration: none;
}
.nav a {
    color: #000;
    font-size: 0.65rem;
    text-decoration: none;
}
.nav p {
    color: #000;
    margin: 0 10px;
}
.search-bar {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center;
    font-size: 0.9rem;
    margin: 0;
}
.search-bar input {
    padding: 10px;
    width: 200px; /* Ajusta el ancho según sea necesario */
    margin-bottom: 5px; /* Espacio entre el input y el botón */
    font-size: 0.9rem;
    margin: 0;
}
.search-bar button {
    padding: 0px 30px;
    background: linear-gradient(to top, #000, #ffffff 190%); /* Gradiente de blanco a #526F9B */
    color: #EEE62C;
    font-size: 0.7rem;
    margin: 0;
    border: none;
    cursor: pointer;
    height: 15px; /* Ajusta la altura según sea necesario */
    margin-left: auto; /* Alinea el botón a la derecha */
    border-radius: 12px; /* Redondea los bordes */
}

/* Profile Section */
.profile-section {
    display: flex;
    gap: 10px;
    font-size: 1.7rem;
    margin: 0;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    padding: 0px;
    border: 3px solid #EEE62C;
    color: #fff;
}
.profile-image img {
    width: 100%;
}
.profile-info h2 {
    font-size: 1.5rem;
    color: #fff;
}
.profile-info p {
    font-size: 1rem;
    margin-top: 11px;
    color: #fff;
}

/* Gallery Section */
.gallery-section {
    text-align: center;
    padding: 20px;
}
.gallery-section h2 {
    font-size: 2.8rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: none;
    transform: rotate(350deg);
}
.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.gallery img {
    width: auto;
    height: auto;
}

/* Interests Section */
.interests-section {
    font-size: 1.2rem;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    color: #fff;
    border: 3px solid yellow;
}
.interests-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.interests-section p {
    font-size: 1rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Video Section */
.video-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
}
.video-section h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    transform: rotate(357.5deg);
}
.video-section img {
    max-width: 100%;
    height: auto;
    border: 5px solid #fff;
}
/* YEAH SCIENCE, BITCH! */
.science-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional) */
    height: 100%; /* Asegura que el contenedor tenga suficiente altura para centrar */
}
.science-section h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    transform: rotate(357.5deg);
}
.LARVA-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional) */
    height: 100%; /* Asegura que el contenedor tenga suficiente altura para centrar */
}
.LARVA-section h2 {
    font-size: 4rem;
    color: #d3d3d3; /* Gris claro */
    margin-bottom: 20px;
    font-family: "Times New Roman", serif; /* Fuente similar a las romanas clásicas */
    text-transform: uppercase; /* Mayúsculas para un estilo más impactante */
    letter-spacing: 2px; /* Espaciado entre letras para mayor dramatismo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Efecto de sombra para apariencia tallada */
}   
/* my WASHING BITCHES */
.bitches-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional) */
    height: 100%; /* Asegura que el contenedor tenga suficiente altura para centrar */
}


.bitches-section h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    transform: rotate(357.5deg);
}
/* Media Queries for Responsive Design */
/* Mobile (Phones) */
@media (max-width: 768px) {
    /* Container */
.container {
    margin: 0;
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido */
    justify-content: flex-start;
    width: 98%;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

/* ADS Section */
.ads-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #ffffff, #526F9B); /* Gradiente de blanco a #526F9B */
    color: #fff;
    padding: 0;
    width: 100%;
    height: 88px; /* Ajusta esta altura según lo necesario */
}

.ad-img {
    max-height: 88px; /* La imagen ocupará toda la altura disponible */
    max-width: 100%; /* La imagen ocupará el 100% del contenedor en anchura */
    width: auto; /* Mantiene la proporción de la imagen */
    height: auto; /* Mantiene la proporción al ajustar la altura */
    object-fit: contain; /* Asegura que la imagen se mantenga dentro del contenedor */
}

.ad-text {
    width: 100%; /* O un valor específico de ancho si prefieres */
    max-width: 600px; /* Ancho máximo, ajustable según sea necesario */
    margin: 0 auto; /* Esto centra el div horizontalmente */
    text-align: center;
    display: flex ;
    flex-direction: column;
    align-items: center;
}
.ad-text p {
    font-weight: lighter; /* Asegura que todo el texto tenga peso normal */
    color: black; /* Establece el color del texto a negro */
}

.ad-text p span {
    color: #00bcd4;
    /* Azul celeste para el número 3 */
}
.ad-text p:last-child {
    color: white; /* Establece el color blanco para "JOIN THE REVOLUTION." */
    font-style: italic; /* Aplica la cursiva a "JOIN THE REVOLUTION." */
}

/* Header Section */
.header-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to top, #EEE62C, #ffffff 120%); /* Gradiente de blanco a #526F9B */
    padding: 10px;
}

.logo h1 {
    font-size: 4rem;
    color: #000;
}

.logo p {
    font-style: italic;
    color: #000;
}
.nav {
    display: flex;
    align-items: center;
    color: #000;
    margin: 0 10px;
    text-decoration: none;
}
.nav a {
    color: #000;
    font-size: 0.65rem;
    text-decoration: none;
}
.nav p {
    color: #000;
    margin: 0 10px;
}

.search-bar {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center
}

.search-bar input {
    padding: 10px;
    width: 200px; /* Ajusta el ancho según sea necesario */
    margin-bottom: 5px; /* Espacio entre el input y el botón */
}

.search-bar button {
    padding: 0px 30px;
    background: linear-gradient(to top, #000, #ffffff 190%); /* Gradiente de blanco a #526F9B */
    color: #EEE62C;
    border: none;
    cursor: pointer;
    height: 15px; /* Ajusta la altura según sea necesario */
    margin-left: auto; /* Alinea el botón a la derecha */
    border-radius: 12px; /* Redondea los bordes */
}

/* Profile Section */
.profile-section {
    display: flex;
    gap: 10px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    padding: 0px;
    border: 3px solid #EEE62C;
    color: #fff;
}

.profile-image img {
    width: 100%;
}

.profile-info h2 {
    font-size: 2.1rem;
    color: #fff;
}

.profile-info p {
    font-size: 1.2rem;
    margin-top: 11px;
    color: #fff;
}

/* Gallery Section */
.gallery-section {
    text-align: center;
    padding: 20px;
}

.gallery-section h2 {
    font-size: 2.8rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: none;
    transform: rotate(350deg);
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery img {
    width: auto;
    height: auto;
}

/* Interests Section */
.interests-section {
    font-size: 1.2rem;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    color: #fff;
    border: 3px solid yellow;
}

.interests-section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Video Section */
.video-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
}

.video-section h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    transform: rotate(357.5deg);
}

.video-section img {
    max-width: 100%;
    height: auto;
    border: 5px solid #fff;
}
    
/* YEAH SCIENCE, BITCH! */
.science-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional) */
    height: 100%; /* Asegura que el contenedor tenga suficiente altura para centrar */
}
.science-section h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    transform: rotate(357.5deg);
}
    
/* my WASHING BITCHES */
.bitches-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional) */
    height: 100%; /* Asegura que el contenedor tenga suficiente altura para centrar */
}
.bitches-section h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    transform: rotate(357.5deg);
}
.LARVA-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional) */
    height: 100%; /* Asegura que el contenedor tenga suficiente altura para centrar */
}
.LARVA-section h2 {
    font-size: 4rem;
    color: #d3d3d3; /* Gris claro */
    margin-bottom: 20px;
    font-family: "Times New Roman", serif; /* Fuente similar a las romanas clásicas */
    text-transform: uppercase; /* Mayúsculas para un estilo más impactante */
    letter-spacing: 2px; /* Espaciado entre letras para mayor dramatismo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Efecto de sombra para apariencia tallada */
}
}

/* Tablet (Medium Devices) */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Container */
.container {
    margin: 0;
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido */
    justify-content: flex-start;
    width: 98%;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

/* ADS Section */
.ads-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #ffffff, #526F9B); /* Gradiente de blanco a #526F9B */
    color: #fff;
    padding: 0;
    width: 100%;
    height: 88px; /* Ajusta esta altura según lo necesario */
}
.ad-img {
    max-height: 88px; /* La imagen ocupará toda la altura disponible */
    max-width: 100%; /* La imagen ocupará el 100% del contenedor en anchura */
    width: auto; /* Mantiene la proporción de la imagen */
    height: auto; /* Mantiene la proporción al ajustar la altura */
    object-fit: contain; /* Asegura que la imagen se mantenga dentro del contenedor */
}
.ad-text {
    width: 100%; /* O un valor específico de ancho si prefieres */
    max-width: 600px; /* Ancho máximo, ajustable según sea necesario */
    margin: 0 auto; /* Esto centra el div horizontalmente */
    text-align: center;
    display: flex ;
    flex-direction: column;
    align-items: center;
}
.ad-text p {
    font-weight: lighter; /* Asegura que todo el texto tenga peso normal */
    color: black; /* Establece el color del texto a negro */
}
.ad-text p span {
    color: #00bcd4;
    /* Azul celeste para el número 3 */
}
.ad-text p:last-child {
    color: white; /* Establece el color blanco para "JOIN THE REVOLUTION." */
    font-style: italic; /* Aplica la cursiva a "JOIN THE REVOLUTION." */
}

/* Header Section */
.header-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to top, #EEE62C, #ffffff 120%); /* Gradiente de blanco a #526F9B */
    padding: 10px;
}
.logo h1 {
    font-size: 4rem;
    color: #000;
}
.logo p {
    font-style: italic;
    color: #000;
}
.nav {
    display: flex;
    align-items: center;
    color: #000;
    margin: 0 10px;
    text-decoration: none;
}
.nav a {
    color: #000;
    font-size: 0.65rem;
    text-decoration: none;
    justify-content: flex-end;

}
.nav p {
    color: #000;
    margin: 0 10px;
}
.search-bar {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center
}
.search-bar input {
    padding: 10px;
    width: 200px; /* Ajusta el ancho según sea necesario */
    margin-bottom: 5px; /* Espacio entre el input y el botón */
}
.search-bar button {
    padding: 0px 30px;
    background: linear-gradient(to top, #000, #ffffff 190%); /* Gradiente de blanco a #526F9B */
    color: #EEE62C;
    border: none;
    cursor: pointer;
    height: 15px; /* Ajusta la altura según sea necesario */
    margin-left: auto; /* Alinea el botón a la derecha */
    border-radius: 12px; /* Redondea los bordes */
}

/* Profile Section */
.profile-section {
    display: flex;
    gap: 10px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    padding: 0px;
    border: 3px solid #EEE62C;
    color: #fff;
}
.profile-image img {
    width: 100%;
}
.profile-info h2 {
    font-size: 2.1rem;
    color: #fff;
}
.profile-info p {
    font-size: 1.2rem;
    margin-top: 11px;
    color: #fff;
}

/* Gallery Section */
.gallery-section {
    text-align: center;
    padding: 20px;
}
.gallery-section h2 {
    font-size: 2.8rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: none;
    transform: rotate(350deg);
}
.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.gallery img {
    width: auto;
    height: auto;
}

/* Interests Section */
.interests-section {
    font-size: 1.2rem;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    color: #fff;
    border: 3px solid yellow;
}
.interests-section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Video Section */
.video-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
}
.video-section h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    transform: rotate(357.5deg);
}
.video-section img {
    max-width: 100%;
    height: auto;
    border: 5px solid #fff;
}
    
/* YEAH SCIENCE, BITCH! */
.science-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional) */
    height: 100%; /* Asegura que el contenedor tenga suficiente altura para centrar */
}
.science-section h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    transform: rotate(357.5deg);
}
/* my WASHING BITCHES */
.bitches-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional) */
    height: 100%; /* Asegura que el contenedor tenga suficiente altura para centrar */
}


.bitches-section h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    transform: rotate(357.5deg);
}

.LARVA-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional) */
    height: 100%; /* Asegura que el contenedor tenga suficiente altura para centrar */
}
.LARVA-section h2 {
    font-size: 4rem;
    color: #d3d3d3; /* Gris claro */
    margin-bottom: 20px;
    font-family: "Times New Roman", serif; /* Fuente similar a las romanas clásicas */
    text-transform: uppercase; /* Mayúsculas para un estilo más impactante */
    letter-spacing: 2px; /* Espaciado entre letras para mayor dramatismo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Efecto de sombra para apariencia tallada */
}
}

/* Desktop (Large Screens) */
@media (min-width: 1025px) {
    /* Container */
.container {
    margin: 0;
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido */
    justify-content: flex-start;
    width: 98%;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

/* ADS Section */
.ads-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #ffffff, #526F9B); /* Gradiente de blanco a #526F9B */
    color: #fff;
    padding: 0;
    width: 100%;
    height: 88px; /* Ajusta esta altura según lo necesario */
}

.ad-img {
    max-height: 88px; /* La imagen ocupará toda la altura disponible */
    max-width: 100%; /* La imagen ocupará el 100% del contenedor en anchura */
    width: auto; /* Mantiene la proporción de la imagen */
    height: auto; /* Mantiene la proporción al ajustar la altura */
    object-fit: contain; /* Asegura que la imagen se mantenga dentro del contenedor */
}

.ad-text {
    width: 100%; /* O un valor específico de ancho si prefieres */
    max-width: 600px; /* Ancho máximo, ajustable según sea necesario */
    margin: 0 auto; /* Esto centra el div horizontalmente */
    text-align: center;
    display: flex ;
    flex-direction: column;
    align-items: center;
}
.ad-text p {
    font-weight: lighter; /* Asegura que todo el texto tenga peso normal */
    color: black; /* Establece el color del texto a negro */
}

.ad-text p span {
    color: #00bcd4;
    /* Azul celeste para el número 3 */
}
.ad-text p:last-child {
    color: white; /* Establece el color blanco para "JOIN THE REVOLUTION." */
    font-style: italic; /* Aplica la cursiva a "JOIN THE REVOLUTION." */
}

/* Header Section */
.header-section {
    display: flex;
    width:100%;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(to top, #EEE62C, #ffffff 120%); /* Gradiente de blanco a #526F9B */
    font-size: 0.6rem;
    margin: 0;
}
.logo h1 {
    font-size: 4rem;
    color: #000;
}
.logo p {
    font-style: italic;
    color: #000;
} 
.nav {
    display: flex;
    align-items: center;
    color: #000;
    margin: 0 10px;
    text-decoration: none;
}
.nav a {
    color: #000;
    font-size: 0.65rem;
    text-decoration: none;
}
.nav p {
    color: #000;
    margin: 0 10px;
    font-size: 1rem;
}

.search-bar {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center
}

.search-bar input {
    padding: 10px;
    width: 200px; /* Ajusta el ancho según sea necesario */
    margin-bottom: 5px; /* Espacio entre el input y el botón */
}

.search-bar button {
    padding: 0px 30px;
    background: linear-gradient(to top, #000, #ffffff 190%); /* Gradiente de blanco a #526F9B */
    color: #EEE62C;
    border: none;
    cursor: pointer;
    height: 15px; /* Ajusta la altura según sea necesario */
    margin-left: auto; /* Alinea el botón a la derecha */
    border-radius: 12px; /* Redondea los bordes */
}

/* Profile Section */
.profile-section {
    display: flex;
    gap: 10px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    padding: 0px;
    border: 3px solid #EEE62C;
    color: #fff;
}

.profile-image img {
    width: 100%;
}

.profile-info h2 {
    font-size: 2.1rem;
    color: #fff;
}

.profile-info p {
    font-size: 1.2rem;
    margin-top: 11px;
    color: #fff;
}

/* Gallery Section */
.gallery-section {
    text-align: center;
    padding: 20px;
}

.gallery-section h2 {
    font-size: 2.8rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: none;
    transform: rotate(350deg);
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery img {
    width: auto;
    height: auto;
}

/* Interests Section */
.interests-section {
    font-size: 1.2rem;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    color: #fff;
    border: 3px solid yellow;
}

.interests-section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Video Section */
.video-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
}

.video-section h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    transform: rotate(357.5deg);
}

.video-section img {
    max-width: 100%;
    height: auto;
    border: 5px solid #fff;
}
/* YEAH SCIENCE, BITCH! */
.science-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional) */
    height: 100%; /* Asegura que el contenedor tenga suficiente altura para centrar */
}


.science-section h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    transform: rotate(357.5deg);
}
.LARVA-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional) */
    height: 100%; /* Asegura que el contenedor tenga suficiente altura para centrar */
}
.LARVA-section h2 {
    font-size: 4rem;
    color: #d3d3d3; /* Gris claro */
    margin-bottom: 20px;
    font-family: "Times New Roman", serif; /* Fuente similar a las romanas clásicas */
    text-transform: uppercase; /* Mayúsculas para un estilo más impactante */
    letter-spacing: 2px; /* Espaciado entre letras para mayor dramatismo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Efecto de sombra para apariencia tallada */
}   
/* my WASHING BITCHES */
.bitches-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional) */
    height: 100%; /* Asegura que el contenedor tenga suficiente altura para centrar */
}


.bitches-section h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    transform: rotate(357.5deg);
}
    
.LARVA-section {
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8); /* Gris oscuro con alta opacidad */
    text-align: center;
    border: 3px solid #EEE62C;
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido (opcional) */
    height: 100%; /* Asegura que el contenedor tenga suficiente altura para centrar */
}
.LARVA-section h2 {
    font-size: 4rem;
    color: #d3d3d3; /* Gris claro */
    margin-bottom: 20px;
    font-family: "Times New Roman", serif; /* Fuente similar a las romanas clásicas */
    text-transform: uppercase; /* Mayúsculas para un estilo más impactante */
    letter-spacing: 2px; /* Espaciado entre letras para mayor dramatismo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Efecto de sombra para apariencia tallada */
}
}
